.btn-container {
    display: flex;
    justify-content: center;

    background: transparent;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 1rem;
    width: 10rem;
    border-radius: 2rem;
    transform: scale(85%);
}

.btn-color-1, .btn-color-2 {

}

.btn-color-1:hover, .btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
    background: white;
    color: black;
}

.btn-color-1:hover {
    background-color: #8477ff;
    color: white;
}

.btn-color-2 {
    background: white;
}

.btn-color-2:hover {
    background-color: #8477ff;
    color: white;
}
